<div class="body">

<h1 id="head">Da-Burger</h1>
<p id="tag">Devour all you want.</p>
{{!-- <img src="/assets/img/hamburger_53876-25481.jpg"; --}}


<div class="container">
<div class="row">

<div class="col-md-6">

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
  </div>
</ul>

<div class="col-md-6">

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

</div>
</div>
</div>


{{!-- <h2>Add a Cat</h2> --}}
<form class="create-form">

  <div class="form-group">
    <input type="text" id="ca" name="name">
      <button id="submit" type="submit">SUBMIT</button>
  </div>

  <div class="form-group">
    <input type="radio" name="devoured" value="0" checked><br>
    <input type="radio" name="devoured" value="1">
  </div>
  <H6>Enter the name of burger you'd like to eat.</H6>
</form>
