.body {
  background-color: #8fbbbc;
  height: 600px;
  position: relative;
}

li {
    list-style: none;  
    background: #F0F0F0;
    width: 390px;
    height: 80px;
    margin-left: 40px;
    padding:15px;
    margin-top: 40px;
  }
  
  .label {
    font-weight: bold;
  }
  
  /* ///INPUT FORM */
  #ca {
    width:400px;
    margin-left: 500px;
  }

  ul {
    padding: 5px;
  }

  .change-devour{
    background-color: whitesmoke;
    color: black;
    font-size:12px;
    text-shadow: 1px 1px #BEBEBE;
  }
  
  .delete-devour {
    background-color: red;
    color: white;
    font-size:12px;
  }
  
  #submit {
    background-color: #ff0080;
    color: white;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;

  }
  input[type="radio"]  {
    display: none;
  }

  #head {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.5px;
    font-size: 64px;
    padding-top: 120px;
  }
  #tag {
    top: 195px;
    left: 690px;
    color: white;
    /* font-family: 'Raleway: 200i', sans-serif; */
    font-family: 'Raleway' 'italic', sans-serif;
    position: absolute;
    font-size: 17px;

  }
 h6 {
   text-align: center;
   margin-right:50px;
   margin-bottom: 50px;
   font-family: 'Raleway', sans-serif;
   color: white;
 }