li {
    list-style: none;  
    background: #F0F0F0;
    width: 390px;
    height: 80px;
    margin-left: 40px;
    padding:15px;
    margin-top:20px;
  }
  #text {
    margin-left: 55px;
    color: red;
  }
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  /* ///INPUT FORM */
  #ca {
    width:500px;
    margin-left: 30px;
    
  }
  ul {
    padding: 5px;
  }
  .change-sleep {
    background-color: green;
    color: white;
    font-size:12px;
  }
  .change-sleep::after {
    background-color: red;
  }
  .delete-cat {
    background-color: red;
    color: white;
    font-size:12px;
  }
  #righthead {
    padding: 5px;
  }
  button {
    background-color: blue;
    color: white;
  }
  input[type="radio"]  {
   
    display: none;
  }
  