.head-content {
  background-color: #8fbbbc;
  height: 935px;
  position: relative;
}

li {
    list-style: none;  
    background: #F0F0F0;
    width: 390px;
    height: 80px;
    margin-left: 40px;
    padding:15px;
    margin-top: 27px;
  }
  
  .label {
    font-weight: bold;
  }
  
  /* ///INPUT FORM */
  #ca {
    width:400px;
    margin-left: 490px;
    margin-top:50px;
  
  }

  ul {
    padding: 5px;
  }

  .change-devour{
    background-color: #F0F0F0;
    color: black;
    font-size:12px;
    text-shadow: 1px 1px #BEBEBE;
  }
  
  .delete-devour {
    background-color: #E0E0E0;
    text-shadow: 1px 2px #BEBEBE;
    color: black;
    font-size:12px;
  }
  
  #submit {
    background-color: #d3419d;
    color: white;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
  }
  input[type="radio"]  {
    display: none;
  }

  #head {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.5px;
    font-size: 64px;
    padding-top: 129px;

  }
  #tag {
    /* text-align: center;  */
    /* margin-right: 39px; */
    /* margin-top:20px; */
    /* top: 208px; */
    /* left: 570px; */
    left: 44vw;
    top: 29.5vh;
    color: wheat;
    /* font-family: 'Raleway: 200i', sans-serif; */
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-size: 16px;
    font-style: italic;

  }
 #statement {
   text-align: center;
   margin-right: 36px;
   margin-bottom: 55px;
   font-size: 15px;
   font-family: 'Raleway', sans-serif;
   color: white;
   
 }
 .col-md-6 {
   padding-top: 90px;
 }
 
 #softdrink {
   position: relative;
   /* top: 740px; */
   /* right: -60vw; */
   left: 53vw;
   top: -15vh;
 }
 #burgerIcon{
   position: relative;
   left: 29vw;
   top: 5vh;

 }
 #monster {
   position: relative;
   /* top: 950px;
   right: 600px; */
   left: 2vw;
    top: -1vh;
 }
 .empty {
   height: 150px;
   
 }
 h2 {
   color: #A8A8A8;
   text-align: center;
   padding-bottom:30px;
   
 }
 #paragraph {
   color: #A8A8A8;
   text-align: center;
   line-height: 30px;
 }
 hr {
   margin-left:450px;
   margin-right: 450px;
   margin-bottom: 30px;
 }
 .wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #8fbbbc;
  height: 140px;
  margin-top: 170px;
 }
 .page-footer {
   text-align: center;
   font-family: 'Pacifico', cursive;
   color: white;
   font-size: 41px;
   padding-top: 32px;

}
#secondTag {
  
/* text-align: center;  */
/* font-size: 16px; */
/* font-style: italic; */
/* font-family: 'Raleway', sans-serif; */
/* color: wheat; */

}
#thirdTag {
  color: wheat;
  text-align: center;
}
#footerTag {
  color: wheat;
    /* font-family: 'Raleway: 200i', sans-serif; */
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 11px;
    font-style: italic;
    left: 45.5vw;
    top: -1vh;
}